@CHARSET "ISO-8859-1";

body {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-size: 14px;
        font-family: verdana;
    }
    
    .whitetext{
    	color:black;
    	
    }
    
.alphared{
	background:rgba(255, 87, 51,0.3);
	padding: 15px;
	display: table;
	border-radius:10px;
	margin-top: 20px;
	margin-left: 50px;
	}
	
	#navigation {
		margin-left:50px;
		margin-top:100px;
		border-radius:10px;
		background-color: white;
		height: 40px; 	 	
		width:60%;
		float: right;
	}
	
#navigation ul {
   
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: right;
	padding: 10px;
}
 
#navigation li {
   
	display: inline;
	vertical-align: middle;
	padding:10px;
	color: #8E44AD;
	font-size: 20px;
}

#navigation a{
	text-decoration: none;
	padding:5px;
}
#navigation a:hover{
	background:rgba(255, 87, 51,0.4);
	color: white; 
}

.button1{
	background:rgba(255, 87, 51,1);
	color: white;
	border: 1px;
	padding: 15px;
	font-size: 20px;
	border-radius: 20px;
}



.subheader{
		border-radius:10px;
		background-color: white;
		color: #8E44AD;
		padding: 5px;
		vertical-align: middle;
		font-size:200%;
}

